{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>SeisCalc {% block title %}{% endblock %}</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">
        <!--  -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- <link href="{% static 'media/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        {% block css %}
        {% endblock %}
    </head>
    <body>
        <div id="overlay"></div>
        <div class="row">
            <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col">
                    <img src="{% static 'img/header.jpg' %}">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col" id="head_title">
                    <p>
                        A Simple Seismic Response
                        </br>
                         Calculator
                    </p>
                </div>
            </div>
        </div>
        <div class="row" id="welcome">
            <h2>Welcome to the Seismic Response Calculator!</h2>
            <p>Please Enter the Required Data & Press on the Button</p>
        </div>
        <!--  -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container-fluid">
            <div class="box-style">
                <form method="post" enctype="multipart/form-data" id="main_form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-line">
                            <div class="form-group required">
                                <label for="number_of_stories" class="col-form-label">Number of Stories:</label>
                                <div class="input-group">
                                    <input type="number" data_type="float" class="form-control" name="number_of_stories" id="number_of_stories" placeholder="----">
                                </div>    
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-line">
                            <div class="form-group required">
                                <label for="stories_height" class="col-form-label">Stories Height (m):</label>
                                <div class="input-group">
                                    <input type="number" data_type="float" class="form-control" name="stories_height" id="stories_height" step='any' placeholder="----">
                                </div>    
                            </div>
                        </div>  
                    </div>
                    <!--  -->
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-line">
                            <div class="form-group required">
                                <label for="building_type_hazus" class="col-form-label">Building Type:</label>
                                <div class="input-group">
                                    <select type="number" data_type="float" class="form-control" name="building_type_hazus" id="building_type_hazus" placeholder="----">
                                        <option value="1">w1</option>
                                        <option value="2">w2</option>
                                        <option value="3">s1</option>
                                        <option value="4">s2</option>
                                        <option value="5">s3</option>
                                        <option value="6">s4</option>
                                        <option value="7">s5</option>
                                        <option value="8">c1</option>
                                        <option value="9">c2</option>
                                        <option value="10">c3</option>
                                        <option value="11">pc1</option>
                                        <option value="12">pc2</option>
                                        <option value="13">rm1</option>
                                        <option value="14">rm2</option>
                                        <option value="15">urm</option>        
                                    </select>
                                </div>    
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-line">
                            <div class="form-group required">
                                <label for="stories_mass" class="col-form-label">Stories Mass (Kg):</label>
                                <div class="input-group">
                                    <input type="number" data_type="float" class="form-control" name="stories_mass" id="stories_mass" step="any" placeholder="----">
                                </div>    
                            </div>
                        </div>  
                    </div>
                    <!-- -->
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-line">
                            <div class="form-group required">
                                <label for="motion" class="col-form-label">EarthQuake Motion (g):</label>
                                <div class="input-group">
                                    <input type="file" class="form-control" name="motion" id="motion">
                                </div>    
                            </div>
                        </div> 
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-line">
                            <div class="form-group required">
                                <label for="eq_dt" class="col-form-label">dt (s):</label>
                                <div class="input-group">
                                    <input type="number" data_type="float" class="form-control" name="eq_dt" id="eq_dt" step="any" placeholder="----">
                                </div>    
                            </div>
                        </div> 
                    </div>
                    <!--  -->
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-line">
                            <div class="form-group required">
                                <label for="seismic_design_category" class="col-form-label">Seismic Design Categories:</label>
                                <div class="input-group">
                                    <select type="number" data_type="float" class="form-control" name="seismic_design_category" id="seismic_design_category" placeholder="----">
                                        <option value="0">High Code</option>
                                        <option value="1">Moderate Code</option>
                                        <option value="2">Low Code</option>
                                        <option value="3">Pre Code</option>
                                    </select>
                                </div>    
                            </div>
                        </div>
                    </div>
                    
                    <!-- -->
                    <div class="row" style="text-align: center;">
                        <!-- <input id="calculate" type="button" class="form-control" name="" value="Calculate"> -->
                        <button type="submit" class="submit" id="calculate">Calculate</button>
                    </div>
                </form>
                <!--  -->
                <div class="row" id="main_results">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <figure class="highcharts-figure">
                            <div id="container_disp"></div>
                        </figure>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <figure class="highcharts-figure">
                            <div id="container_accel"></div>
                        </figure>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <figure class="highcharts-figure">
                            <div id="container_drift"></div>
                        </figure>
                    </div>    
                </div>
                <div class="row" id="spec_results">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <figure class="highcharts-figure">
                            <div id="container_rec"></div>
                        </figure>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <figure class="highcharts-figure">
                            <div id="container_spec"></div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <!-- Required JavaScript Libraries -->
        <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
        <script src="{% static 'js/web_ajax.js' %}"></script>
    </body>
</html>
