body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    background-color: rgb(254, 233, 232);
    overflow-x: hidden;
    /* overflow-y: hidden; */
}
#head_title{
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#head_title p {
    top: 100%;
    transform: translateY(100%);
}
.row{
    margin-left: 15px;
    margin-right: 15px;
}
#welcome{
    text-align: center;
}
.container-fluid{
    margin: unset;
    padding-bottom: 40px;
    
}
.box-style{
    margin-left: 200px;
    margin-right: 200px;
    border: 1px solid black;
    border-radius: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.data{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-control{
    width: 100%;
}
.input-group{
    margin-right: unset !important;
    width: 100%;
}
.input-group input, .input-group select{
    background: transparent;
    border: 1px solid black;
    border-radius: 5px !important;
}
#calculate{
    background-color: sandybrown;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    z-index: 2;
    cursor: pointer;
}
#container_disp, #container_accel, #container_drift{
    width: 200px;
    height: 200px;
}
#main_results{
    padding-top: 25px;
    display: none;
}
#spec_results{
    padding-top: 25px;
    display: none;
}
#container_rec, #container_spec{
    width: 300px;
    height: 200px;
}

  
